*,button,input,select {
    box-sizing: inherit;
}

html {
    background: #e5eaee;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
}

.shop {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    background: white;
    box-shadow: 0 2px 5px #c5cacc;
    flex: 0 auto;
    margin: 1em;
    text-align: center;
    width: 15em;
}

.item__name {
    text-transform: capitalize;
}

.item__money-container,.item__count-container {
    display: flex;
}

.item__precio,.item__cost,.item__remove,.item__count,.item__add {
    flex: 1;
    height: 2.5rem;
    line-height: 1rem;
    padding: 0.75rem;
}

.item__precio,.item__cost {
    position: relative;
}

/* add a name just above the field */
.item__precio::before,.item__cost::before {
    display: block;
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    top: -6px;
    right: 0;
    left: 0;
}

.item__precio::before {
    content: "Precio";
}

.item__cost {
    color: #59b;
}

.item__cost::before {
    content: "Costo";
}

.item__remove,.item__add {
    appearance: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    margin: 0;
    outline: none;
}

/* Botones */
.item__remove {
    background: #f77;
}

.item__count {
    background: #ed6;
}

.item__add {
    background: #6d6;
}

.article{
    flex: 0;
}

